{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/Picture21.png' %}">
    <link rel="stylesheet" href="{% static 'css/passwordResetDone.css' %}">
</head>
<body>
    <video class="video-background" autoplay muted loop> <source src="{% static 'assets/images/INCHCAPE_HEADER_v6.1.mp4' %}" type="video/mp4"> Your browser does not support the video tag. </video>
    <div class="login">
        <form method="post">
            {% csrf_token %}
            <img src="{% static 'assets/images/ISS.png' %}" alt="">
            <h1>RESET LINK SENT</h1>
            
            <center>
                <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
            </center>
        </form>
    </div>
</body>
</html>